block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content=(meta && meta.viewport ? meta.viewport : 'width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no'))
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='format-detection' content='telephone=no')

    title=(meta && meta.title ? meta.title : '')
    meta(name='keyword', content=(meta && meta.keyword ? meta.keyword : ''))
    meta(name='description', content=(meta && meta.description ? meta.description : ''))

    meta(property="og:title", content=(meta && meta.ogTitle ? meta.ogTitle : ''))
    meta(property="og:description", content=(meta && meta.ogDescription ? meta.ogDescription : ''))
    meta(property="og:type", content=(meta && meta.ogType ? meta.ogType : ''))
    meta(property="og:site_name", content=(meta && meta.ogSiteName ? meta.ogSiteName : ''))
    meta(property="og:url", content=(meta && meta.ogUrl ? meta.ogUrl : ''))
    meta(property="og:image", content=(meta && meta.ogImage ? meta.ogImage : ''))

     //- CSS
    block css
      link(rel="stylesheet", href='/assets/css/style.css')

    <!-- Google Tag Manager -->
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-52FX7N2');
    <!-- End Google Tag Manager -->


  body
    block content

    //- JS
    block scripts
      //- script.
      //-   window.fbAsyncInit = function() {
      //-     FB.init({
      //-       appId            : 'your-app-id',
      //-       autoLogAppEvents : true,
      //-       xfbml            : true,
      //-       version          : 'v9.0'
      //-     });
      //-   };
      //- script(async defer crossorigin='anonymous' src='https://connect.facebook.net/en_US/sdk.js')

      <!-- Load Facebook SDK for JavaScript -->
      div#fb-root
      script.
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

      script(src='/assets/js/main.bundle.js')

      <!-- Google Tag Manager (noscript) -->
      noscript
        iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-52FX7N2" height="0" width="0" style="display:none;visibility:hidden")
      <!-- End Google Tag Manager (noscript) -->

